language: node_js
node_js:
  - "6"

addons:
  code_climate:
    repo_token: 71b3536262dc24c8587720174c6aa956544e23f121018e2938f302d56802b38f

before_script:
  - sudo gem install slim
after_script:
  - codeclimate-test-reporter < coverage/lcov.info
