language: node_js
node_js:
  - "6"

addons:
  code_climate:
    repo_token: 71b3536262dc24c8587720174c6aa956544e23f121018e2938f302d56802b38f

before_script:
  - gem install slim

after_script:
  - codeclimate-test-reporter < coverage/PhantomJS\ 2.1.1\ \(Linux\ 0.0.0\)/lcov.info
