| book-show
br
| {{ bookShowlCtrl.book.id }}
br
| {{ bookShowlCtrl.book.name }}
br
| {{ bookShowlCtrl.book.description }}
br
| {{ bookShowlCtrl.book.rating }}
br
img src="{{ bookShowlCtrl.book.avatar }}"
br
| {{ bookShowlCtrl.book.author }}
