doctype html
html.no-js lang="en" ng-app="app" ng-controller="AppController as appCtrl" ng-strict-di=""
  head
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    title ng-bind="appCtrl.name"
    meta content="" name="description"
    meta content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" name="viewport"

    link rel="stylesheet" href="./css/bootstrap.min.css"
    link rel="stylesheet" href="./css/ui-bootstrap-csp.css"
    link rel="stylesheet" href="./css/style.min.css"

  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand href="#"
            | {{ appCtrl.name }}
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li ui-sref-active="active"
              a ui-sref="lang.book.topNew" translate=""
                | {{ 'TOP' }}
                span.sr-only (current)
            li ui-sref-active="active"
              a ui-sref="lang.book.search" translate=""
                | {{ 'SEARCH' }}
    .container
      .app
        .app-body
          ui-view.app-content

    script src="./js/lib/angular.min.js"
    script src="./js/lib/angular-ui-router.min.js"
    script src="./js/lib/angular-translate.min.js"
    script src="./js/lib/ui-bootstrap.js"
    script src="./js/lib/ui-bootstrap-tpls.js"

    script src="./js/app-script.min.js"
