| Top new
br

br
| Book's rating
br
div ng-repeat="book in bookTopNewCtrl.tenNewBooks"
  a ui-sref="lang.book.show({ id: book.id })"
    | - {{ book.name }}

br
| Author's rating
br
div ng-repeat="book in bookTopNewCtrl.tenNewBooks"
  a ui-sref="lang.book.show({ id: book.id })"
    | - {{ book.author }}
